:root {
  --main-font: "Inter";
  --page-background: #eeeef7;
  --background-alt: #f0f1f3;
  --background-main: #ffffff;
  --button-main: #5e5cf3;
  --button-text-main: #fefeff;
  --button-outline: #fefeff;
  --button-outline-active: #000000;
  --confirm: #c6ecc0;
  --deny: #e7bbbb;
  --selected: #8a88f0;

  --text-alt: #fdfdfd;
  --text-course-schedule: #fdfdfd;
  --text-course-schedule-alt: #2b2b2b;
  --text-light: #aaa9a9;
  --text-main: #252525;
  --link-color: #0d2f44;

  --footer-height: 80px;

  --roundedness: 5px;
  --padding: 4px;
  --school-HarveyMudd: #fdb913;
  --school-Pomona: #20438f;
  --school-ClaremontMckenna: #981a31;
  --school-Pitzer: #f7941d;
  --school-Scripps: #34715b;

  --color-1: #4288df;
  --color-2: #63c721;
  --color-3: #e48a2e;
  --color-4: #d6625e;
  --color-5: #c94cce;
  --color-6: #cb439a;
  --color-7: #d84f55;
  --color-8: #3bc44f;
  --color-9: #59b0d1;

  --theme-icon: url(../img/theme-light.svg);
  --invert: 0;
  --invert-not: 1;
}

[data-theme="dark"] {
  --page-background: #0f0f11;
  --background-alt: #16151a;
  --background-main: #222227;
  --button-main: #5e5cf3;
  --button-text-main: #fefeff;
  --button-outline: #757575;
  --button-outline-active: #9e9e9e;
  --confirm: #59a150;
  --deny: #a75454;
  --selected: #a19ff8;

  --text-alt: #131313;
  --text-course-schedule: #e9e9e9;
  --text-light: #747272;
  --text-main: #dbdbdb;
  --link-color: #a7d6f3;

  --color-1: #2c5b8e;
  --color-2: #499112;
  --color-3: #b86c25;
  --color-4: #ac4f4f;
  --color-5: #86378d;
  --color-6: #ac4f8d;
  --color-7: #933535;
  --color-8: #396f34;
  --color-9: #3d7991;
  --theme-icon: url(../img/theme-dark.svg);
  --invert: 1;
  --invert-not: 0;
}

html {
    overflow-y: scroll;
}

body {
  background-color: var(--page-background);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

body * {
  font-family: var(--main-font), sans-serif;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: var(--text-main);
  margin: 0;
}

#main-grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "main-content"
    "footer";
}

.screen {
  grid-area: main-content;
  width: 100%;
  height: calc(100vh - var(--footer-height));
  overflow-y: scroll;
}

#main-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--background-main);
  border-radius: var(--roundedness);
  padding: var(--padding);
  grid-area: title;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  grid-area: footer;
  background-color: var(--background-main);
  border-radius: var(--roundedness);
}

button {
  background-color: var(--button-main);
  border-radius: var(--roundedness);
  color: var(--button-text-main);
  cursor: pointer;
  height: 40px;
  width: auto;
  background-size: 30px 30px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  border: unset;
  font: 1rem/1rem var(--main-font), monospace;
  box-sizing: border-box;
  border: #00000000 solid 1px;
}

button:hover {
  border: var(--button-outline-active) solid 1px;
}

button.big {
  height: 50px;
  width: 90px;
  font-weight: bolder;
}

#footer button {
  background-color: unset;
  height: 100%;
  width: 80px;
  border-radius: 0px;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  filter: opacity(.6) invert(var(--invert));
}

#footer button.selected {
  filter: opacity(1) invert(var(--invert));
  animation: pulse-size .5s;
}

@keyframes pulse-size {
  0% {
    background-size: 50%;
  }
  50% {
    background-size: 55%;
  }
  100% {
    background-size: 50%;
  }
}

button#home-button {
  background-image: url(../img/menu.svg);
}

button#balances-button {
  background-image: url(../img/balances.svg);
}

button#flex-optimizer-button {
  background-image: url(../img/flex.svg);
}

button#settings-button {
  background-image: url(../img/settings.svg);
}

#theme-change {
  background-image: var(--theme-icon);
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
}

#logo {
    height: 50px;
    width: 50px;
    border-radius: var(--roundedness);
}

.ClaremontMckenna {
  color: var(--text-course-schedule) !important;
  background-color: var(--school-ClaremontMckenna) !important;
}

.HarveyMudd {
  color: var(--text-course-schedule-alt) !important;
  background-color: var(--school-HarveyMudd) !important;
}

.Pitzer {
  color: var(--text-course-schedule-alt) !important;
  background-color: var(--school-Pitzer) !important;
}

.Scripps {
  color: var(--text-course-schedule) !important;
  background-color: var(--school-Scripps) !important;
}

.Pomona {
  color: var(--text-course-schedule) !important;
  background-color: var(--school-Pomona) !important;
}

.default-button.swal {
  width: 140px;
  height: 40px;
  font-size: 16px;
}

.default-button.swal.confirm {
  color: var(--course-open);
  margin-right: 10px;
}

.default-button.swal.confirm:hover {
  background-color: var(--confirm);
  color: var(--text-main);
}

.default-button.swal.cancel {
  color: var(--course-closed);
  margin-left: 10px;
}

.default-button.swal.cancel:hover {
  background-color: var(--deny);
  color: var(--text-main);
}

.swal-wide {
    width: 50vw !important;
}

.swal-course-popup {
    text-align: left;
    padding: 20px;
    border-radius: var(--roundedness);
    line-height: 30px;
    margin-bottom: 20px;
}

a:link,
a:visited {
  color: var(--link-color);
}

#school-flexbox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.school-button, .meal-button {
  width: 60%;
  height: 40px;
  font-size: .8em;
  line-height: 30px;
}

#back-button {
  width: 90vw;
  height: 6vh;
  background-color: var(--deny);
  border-radius: var(--roundedness);
  padding: var(--padding);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--text-main);
  cursor: pointer;
  margin-top: 20px;
}

#cafe-flexbox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.cafe-button {
  width: 90vw;
  height: 20vh;
}

.hidden {
  display: none !important;
}

#menu-flexbox {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: var(--text-main);
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.day-part {
  width: 80%;
  min-height: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  user-select: none;
  background-color: var(--background-main);
  border-radius: var(--roundedness);
  padding: var(--padding);
}


.day-part-content {
  display: flex;
  padding: 10px;
  flex: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: left;
  text-align: left;
  background-color: var(--background-main);
  border-radius: var(--roundedness);
}

.row.time-slot {
  font-size: 1.2em;
  text-align: center;
  border-radius: var(--roundedness);
  justify-content: center;
  padding: 10px;
  border: var(--button-outline) solid 1px;
  padding: 10px;
  background-color: var(--confirm);
}

.row.time-slot:hover {
  border: var(--button-outline-active) solid 1px;
}

.time-slot {
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.station, .time-slot {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  border-radius: var(--roundedness);
  align-items: center;
  background-color: var(--background-alt);
}

.station.name {
  color: var(--text-main);
  font-size: 1.4em;
  text-align: left;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  text-transform: uppercase;
}

.station.content {
  font-size: 1em;
  text-align: left;
  border-radius: var(--roundedness);
  margin-bottom: 10px;
  justify-content: flex-start;  
  align-content: flex-start;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}

.meal {
  width: 100%;
  max-width: 130px;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
  background-color: var(--background-main);
  color: var(--text-main);
  padding: 5px;
}

.meal.name {
  padding: 0px;
  font-size: .9em;
}

.meal.description {
  color: var(--text-light);
  font-size: .7em;
  padding: 0px;
  min-height: 0px;
}

#fader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  pointer-events: none;
  background: var(--background-alt);
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 1;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#fader.fade-out {
  opacity: 0;
  animation-name: fade-out;
}

#loading-image {
  display: block;
  margin: auto;
  width: 15%;
  border-radius: 25%;
  border: rgb(19, 19, 19) solid 20px;
  background-color: rgb(19, 19, 19);
  animation-duration: .7s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-iteration-count: infinite;
  animation-name: spin-around;
}

@keyframes spin-around {
  0% {
    transform: rotate(-360deg);
  }
  99%, 100% {
    transform: rotate(0deg);
  }
}

#balances {
  grid-area: main-content;
  color: var(--text-main);
}

#login {
  background-color: var(--background-main);
  border-radius: var(--roundedness);
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

#login label {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--text-main);
}

.loader {
  border: 10px solid var(--background-alt); /* Light grey */
  border-top: 10px solid var(--text-main); /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin .5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#info {
  width: 80%;
  height: 100px;
  text-align: left;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-main);
  border-radius: var(--roundedness);
  color: var(--text-main);
  padding: 10px;
  font-size: 1.2em;
}

#info span {
  text-align: left;
}


#scroll-to-top {
  position: fixed;
  bottom: 120px;
  right: 20px;
  font-size: 1em;
  font-weight: bolder;
  width: 60px;
  height: 60px;
}

.meal-name {
  font-size: 3em;
  font-weight: bold;
  color: var(--text-main);
}

.meal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.school * {
  color: var(--text-main);
}

.school .school-name {
  font-size: 1.4em;
  border-radius: var(--roundedness);
  font-weight: bolder;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.school .cafe-name {
  font-size: 1em;
  margin-bottom: 10px;
  background-color: var(--text-main);
  color: var(--text-alt);
  padding: 5px;
  border-radius: var(--roundedness);
}

.school .station-name {
  font-size: 1.2em;
  width: 100%;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bolder;
}


.school .meal-station {
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: var(--text-light) solid 2px;
}

.school .meal-station:last-child {
  border: unset;
}

.selector {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#day-selector button:hover, #meal-selector button:hover {
  transform: unset;
}

#day-selector button, #meal-selector button {
  border-radius: unset;
  width: 12vw;
  font-size: .8em;
}

#meal-selector button {
  width: 20vw;
}

#day-selector button.selected, #meal-selector button.selected {
  background-color: var(--selected);
  color: var(--text-alt);
}

#day-selector button:first-child, #meal-selector button:first-child {
  border-top-left-radius: var(--roundedness);
  border-bottom-left-radius: var(--roundedness);
}

#day-selector button:last-child, #meal-selector button:last-child {
  border-top-right-radius: var(--roundedness);
  border-bottom-right-radius: var(--roundedness);
}


#meals-flexbox {
  width: 70%;
  margin: 0 auto;
}

.station-dietary {
  font-size: .8em;
  margin-top: 10px;
  width:fit-content;
  margin-bottom: 10px;
  background-color: var(--text-light);
  color: #ffff;
  padding: 5px;
  border-radius: var(--roundedness);
}

#flex-optimizer-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
}

#flex-optimizer-screen >*, #settings-screen >*, #balances-screen >* {
  display: flex;
  flex-direction: column;
  background-color: var(--background-main);
  color: var(--text-main);
  border-radius: var(--roundedness);
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
  width: 90%;
}

input {
  width: 80%;
  height: 30px;
  border-radius: var(--roundedness);
  border: var(--button-outline) solid 1px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 1.2em;
  background-color: var(--background-alt);
  color: var(--text-main);
}

#remaining-flex-amount {
  background-color: var(--background-alt);
  border-radius: var(--roundedness);
  padding: 10px;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

select {
  width: 80%;
  height: 50px;
  border-radius: var(--roundedness);
  border: var(--button-outline) solid 1px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 1.2em;
  background-color: var(--background-alt);
  color: var(--text-main);
}

#item-list-popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: var(--background-alt);
}

#item-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  color: var(--text-main);
  border-radius: var(--roundedness);
  row-gap: 10px;
  
}

.flex-item {
  width: inherit;
  display: grid;
  grid-template-columns: 3fr 2fr;
  height: 100px;
}

.flex-item:nth-child(even) {
  background-color: var(--background-main);
}

.flex-item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: var(--roundedness);
  row-gap: 5px;
}

.flex-item-info .notes {
  font-size: .8em;
  width: 90%;
  color: var(--text-light);
}

.flex-item-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.flex-item-buttons button {
  width: 35px;
  height: 35px;
}

.flex-item-buttons .flex-item-amount {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: var(--roundedness);
  border: var(--button-outline) solid 1px;
  padding: 1px;
  margin: 0 10px;
  font-size: 1.2em;
  background-color: var(--background-alt);
  color: var(--text-main);
}

.flex-item-header {
  display: grid;
  width: 100vw;
  grid-template-columns: 5fr 1fr;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.flex-item-header >* {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#added-items {
  margin-top: 10px;
}

#auto-solve-button {
  margin-bottom: 10px;
}

.auto-solve-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  background-color: var(--background-main);
  color: var(--text-main);
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: var(--button-outline) solid 1px;
}

.auto-solve-item-remaining {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  row-gap: 5px;
  margin-top: 5px;
  font-size: .9em;
  font-weight: bolder;
}

#settings-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  margin: 0 auto;
}

#settings-buttons {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

@media (max-width: 800px) {
  #school-flexbox {
    flex-direction: row;
  }
  .school-button {
    width: 40vw;
    height: 40vw;
    font-size: 15px;
    line-height: 20px;
  }
  .station.content {
    width: 100%;
    justify-content: center;
  }
  .day-part {
    width: 100%;
  }

  #meals-flexbox {
    width: 95%;
  }


}
